@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("./fonts/Roboto-Regular.ttf");
}
* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
    display: none;
}
body {
  background: #ededed;
  font-family: "Roboto-Regular", sans-serif;
  margin: 0;
  margin-top: 91px;
  padding: 0;
}
.main {
  margin: 0 16px;
  align-items: center;
}
@media screen and (min-width: 1200px){
.main {
  margin: 0 140px;
  margin-bottom: 48px;
  padding: 0px;
  border-radius: 25px;
}
}

/*Estilos Header*/

  .main-header {
  margin: 0;
  border: #000 1px solid;
  top: 0;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #ccc;
  padding: 24px 16px;
  font-style: none;
  position: fixed;
  z-index: 99999;
 
}

.main-header-title {
  
  text-align: center;
  font-size: 28px;
  margin: 0;
  padding: 0;
  color: #ff4e00;
  font-family: "Poppins";
  text-decoration: none;
  display: flex;
  margin: auto;
}

.main-header-title .word1 {
  color: #333;
}
 .container-flex {
  display: flex;
  justify-content: space-between;
  

}
.main-header-container {
  
    
  display: flex;
justify-content: space-between;
  
}
@media screen and (min-width: 1200px){
    .main-header {
  margin: 0;
  top: 0;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #ccc;
  padding: 24px 140px;
  font-style: none;
  position: fixed;
  z-index: 99999;
}
.logo {
  display: inline-block;
  margin: auto 0;
  margin-right: 8px;
  padding: 0;
  font-size: 40px;
}
.main-header-title {
  text-align: center;
  font-size: 28px;
  margin: 0;
  padding: 0;
  color: #ff4e00;
  font-family: "Poppins";
  text-decoration: none;
  display: flex;
  margin: auto;
}

.main-header-title .word1 {
  color: #333;
}
.main-header .container-flex {
  display: flex;
  justify-content: space-between;

}
.main-header-container {

  display: flex;
  align-items: center;
  
}
}
/*estilos menu*/
.main-nav {
  display: none;
  visibility: visible;
  transition: all 0.3s;
  z-index: 999999;
  width: 100%;
  margin-left: 40px;
}
.menu {
  
  position: static;
  top: 188px;
  left: 0;
  background: #212121;
  display: flex;
  background: none;
  width: 100%;
  list-style: none;
  padding: 0px;
  margin: 0;
}
.menu-item {
  
  text-align: center;
  margin: auto;
}
.menu-link {
  
  font-family: "Poppins";
  padding: 0 20px;
  color:#333;
  text-decoration: none;
  display: block;
  font-weight: 400;
  transition: all 0.3s;
  font-size: 16px;
  opacity: 0.9;
}
.menu-link:hover {
  color: #ff4e00;
}
.menu-link-active{opacity: 1;}

.icon-menu {
  display: block;
  font-size:28px;
  border-radius: 2%;
  cursor: pointer;
  margin: auto;
  margin-right: 14px;
  text-align: center;
}
.icon-menu i{width: 28px; height: 28px;margin: auto;padding: 0; }
.icon-header,
.icon-search {
  
  margin: 0;
  padding: 10px 14px;
  font-size: 20px;
  color: #333;
  transition: all 0.3s;
}
.icon-header:hover,
.icon-search:hover {
  color: #ff4e00;
}
.main-header-btn {
  
  display: block;
  
  text-decoration: none;
  padding: 0;
  margin: auto auto;
}

.main-header-input {
  display: none;
  caret-color: #ff4e00;
  font-size: 1em;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 2%;
  width: 100%;
}
@media screen and (min-width: 1200px){
  .main-nav {
 display: block;
  transition: all 0.3s;
  z-index: 999999;
  width: 100%;
  margin-left: 40px;
}
.menu {
  position: static;
  top: 188px;
  left: 0;
  background: #212121;
  display: flex;
  background: none;
  width: 100%;
  list-style: none;
  padding: 0px;
  margin: 0;
}
.menu-item {
  text-align: center;
  margin: auto;
}
.menu-link {
  font-family: "Poppins";
  padding: 0 20px;
  color:#333;
  text-decoration: none;
  display: block;
  font-weight: 400;
  transition: all 0.3s;
  font-size: 16px;
  opacity: 0.9;
}
.menu-link:hover {
  color: #ff4e00;
}
.menu-link-active{opacity: 1;}
.mostrar {
  opacity: 1;
  visibility: visible;
}

.icon-menu {
  display: none;
  font-size: 1.5rem;
  border-radius: 2%;
  cursor: pointer;
  margin: 0;
}
.icon-header,
.icon-search {
  margin: 0;
  padding: 10px;
  font-size: 16px;
  color: #333;
  transition: all 0.3s;
}
.icon-header:hover,
.icon-search:hover {
  color: #ff4e00;
}
.main-header-btn {
  display: block;
  font-size: 20px;
  color: #333;
  text-decoration: none;
  padding: 0;
  margin: 0 4px;
}

.main-header-input {
  caret-color: #ff4e00;
  font-size: 1em;
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 2%;
  width: 100%;
}
}
  

/*Estilos Slider*/
.container-slider {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.slider {
  display: flex;
  width: 300%;
  height: 300px;
  margin-left: -100%;
  position: relative;
}
.slider::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.3;
  height: 100%;
}
.slider-section {
  width: 100%;
  position: relative;
}
.slider-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-btn {
  z-index: 1;
  position: absolute;
  width: 40px;
  height: 40px;
  color: #fff;
  opacity: 0.7;
  top: 50%;
  transform: translateY(-50%);
  font-size: 32px;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
}
.slider-btn:hover {
  color: #fff;
  background: #333;
}
.slider-btn-left {
  left: 10px;
}
.slider-btn-right {
  right: 10px;
}

.slider-content {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  width: 60%;
  text-align: center;
}

.slider-title {
  margin: 0;
  height: 80px;
}

.slider-title .title {
  font-size: 36px;
}

.slider-link {
  display: block;
  border: 1px solid #fff;
  border-radius: 10px;
  color: #fff;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 150px;
  margin: 20px auto;
  transition: all 0.3s;
}
.slider-link:hover {
  background: #000;
  opacity: 0.3;
}
@media screen and (min-width: 1200px){
  .slider {height: 400px;}
}
/*Estilo Seccion*/
.home-section {
  width: 100%;
  position: relative;
  margin: 24px 0;
}
@media screen and (min-width: 1200px){.home-section {
  margin: 64px 0;
}}
/*Estilos de las secciones de juegos del home*/
.container-games {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

.game {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 0;
  text-align: center;
  position: relative;
  transition: all 0.3s;
  width: 184px;
  height: 184px;
    margin: auto;
}

.game:hover{background:rgba(0, 0,0, 0.05)
}
.game-img {
  width: 100%;
  height: 96px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.game-title {
  margin: 8px;
  height: 28px;
}
.game-title .title {
  display: block; 
  font-weight: bold; 
  text-decoration: none;
  text-align: left;
  color:#333;
  
}
.game-plataforms-price {
  display: flex;
  justify-content: space-between;
  margin: 20px 12px;
}
.game-plataforms {
  margin: 0;
  display: flex;
  gap: 10px;
}
.game-plataforms i {
  font-size: 16px;
  line-height: 20px;
  color: #333;
}
.game-price {
  margin: 0;
  display: block;
  color: #ff4e00;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

@media screen and (min-width: 1200px){
 .container-games {
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.game {
  margin: auto;
  border-radius: 10px;
  width: 256px;
  height: 256px;
}

.game-img {
  height: 136px;
  border-radius: 10px 10px 0 0;
}
.game-title {
  margin: 12px;
  height: 48px;
}




.game-plataforms-price {
  margin: 20px 12px;
}
.game-plataforms i {
  font-size: 20px;
  line-height: 24px;

}
.game-price {
 
  font-size: 20px;
  line-height: 24px;
}



}
/*Estilos de la seccion de los tips*/
.tips-title {
  margin: 30px auto;
  text-align: center;
  color: #333;
  font-size: 20px;
}
.tip {
  display: block;
  background: #fff;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 2%;
  padding: 20px;
  margin: auto;
  margin-bottom: 32px;
  width: 264px;
  height: 264px;
}
.tip-icon {
  font-size: 56px;
  margin: auto;
  display: block;
  color: #ff4e00;
}
.tip-title {
  display: block;
  font-size: 20px;
  font-weight: 600;
}
.tip-txt {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 0;
  color:#333;
  
}
@media screen and (min-width: 1200px){
.tips-title {
  margin: 30px auto;
  font-size: 24px;
}
.container-tips {
  display: flex;
  justify-content: space-between;
}

.tip {
 margin: 0;
}
}

/*estilos del footer*/
.main-footer {
  background: #333;
  padding: 8px 0;
  margin: 0;
}
.link-sections{margin: 0 auto; padding: 0 18px;
  margin: 0;
  padding: 0;}
.footer-link-container{
  
  margin: 20px 0;
  padding: 0;
}
.footer-link-container-item{ display: block;
  text-align: center;
 padding: 8px 0;

  
}

.footer-link{
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font: normal;
  opacity: 0.75;
  transition: all 0.3s;
}
.footer-link:hover {
  opacity: 1;
}
.footer-social-link-container{
  display: flex;
margin: 0 96px;padding: 0;
justify-content: space-between;
}
.footer-social-link-container-item{ list-style: none;display: inline-block;
  padding: 8px 0;

 }
.footer-social-link{
text-decoration: none;
  color: #fff;
font-size: 32px;
line-height: 32px;
font: normal;
  opacity: 0.75;
  transition: all 0.3s;
}
.footer-social-link:hover {
  opacity: 1;
}
.copy {
  margin: 0;
   padding: 8px 0;
  color: #fff;
  opacity: 0.75;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
}

@media screen and (min-width: 1200px){
.link-sections{display: flex;
justify-content: space-between;margin: 8px 140px; }
.footer-link-container{margin: 0;padding: 0; }
.footer-link-container-item{ display: inline-block;margin-right: 12px;padding: 0;
}
.footer-link{
  font-size: 14px;
  line-height: 24px;

}


.footer-social-link-container{margin: 0;padding: 0; display: block;}
.footer-social-link-container-item{margin-left: 12px;padding: 0;
}
.footer-social-link{
  margin: 0;padding: 0;
font-size: 20px;
line-height: 24px;
}

.copy {
  margin: 0;

  line-height: 16px;
  font-size: 14px;
}

}

/*Estilos de la pagina de un juego*/
.game-page-container {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  
}
.main-game-page{
  margin-top: 128px;
background: #fff;

}

.main-game-page .game-title {
  margin: 0;
  padding: 0;
  font-size: 32px;
  font-family: "Poppins";
  margin-bottom: 40px;
  
}



#main-game-img{
  display: block;
  width: 100%;
  border-radius: 25px;
  width: 630px;
  height: 354.38px;
  object-fit: cover;
}
.game-thumbs {
  display: flex;
  margin: 5px 0;
  padding-bottom: 5px;
    width: 630px;
overflow-x: scroll;}
.game-thumb{ display: inline-block;width: 150px;
  height: 84.9px;object-fit: cover; border-radius: 25px;
margin-right: 10px;
border: 3px solid #fff;
transition: all 0.3s;}

.main-game-page .game-section {
  display: block;
  margin: 40px 0;
  padding: 8;
}
.main-game-page .section-title {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 700;
  font-family: "Poppins";
}
.main-game-page .game-description {
  margin: 12px 0;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: #333;
}

.main-game-page .requirements-title {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 700;
}
.main-game-page .requirements-list {
  padding: 0 12px;
  margin: 12px 0;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: #333;
  border-left: #ccc 1px solid;
  
    border-right: #ccc 1px solid;
   

}
.main-game-page .requirements-list b {
  font-weight: 600;
}

.buy-card-thumb {
  border-radius: 25px 25px 0 0;
}
.buy-card {
background: #fff;
  border: #ccc 1px solid;
  display: inline-block;
  padding: 0;
  border-radius: 25px;
  width: 350px;
}
.buy-card .game-price {
  color: #333;
}
.game-info{
margin: 16px 12px;
font-weight: 600;

}
.game-info-category{display: flex;justify-content: space-between;
margin: 12px 0;
}
.game-info p{ margin: 0;}
.category-title{color: #333; font-weight: 400;}


.buy-button-container {
  display: flex;
  justify-content: center;
}
.buy-button {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  background-color: #ff4e00;
  border: #ff4e00 1px solid;
  width: 100%;
  text-align: center;
  padding: 8px 0;
  margin: 12px;
  border-radius: 10px;
}

.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

/*Estilo de input*/
.form-title{
color: #ff4e00;
text-align: center;
}
.input-field {
  width: 100%;
  padding: 5px;
  outline: none;
  border-radius: 0 10px 10px 0;
  border: 1px solid #ccc;
  font-family: "Roboto-regular", sans-serif;
}

.input-field:focus {
  border: 2px solid #ff4e00;
}
.icon-form-input {
  padding: 10px;
  background: #ff4e00;
  color: #fff;
  min-width: 50px;
  text-align: center;
  border-radius: 10px 0 0 10px;
}
/*Estilo de boton de formulario*/
.btn {
  background: #ff4e00;
  color: #fff;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
  border-radius: 10px;
  font-size: 16px;
  margin: 0 auto;
  display: block;
}

.btn:hover {
  opacity: 1;
}

.form-container {
  margin: auto;
  width: 640px;
  height: 100%;
  padding: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #ffff;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1), 0 -2px 5px 0 rgba(0, 0, 0, 0.1);
}

.warningSection {
  margin-bottom: auto;
  text-align: center;
  color: #bd1d1d;
  height: 80px;
}

.bottom-footer{ position: fixed; bottom: 0; width: 100%;}
#contruction-message-container{
 border: #ccc 1px solid; 
  
 text-align: center;
 border-radius: 8px;
 background: #fff;
 padding: 40px;
}
    @keyframes glitch {
      0%, 20%, 40%, 60%, 80%, 100% {
        transform: translate(0, 0);
      }
      10% {
        transform: translate(-2px, -2px);
      }
      30% {
        transform: translate(2px, 2px);
      }
      50% {
        transform: translate(-4px, -4px);
      }
      70% {
        transform: translate(4px, 4px);
      }
      90% {
        transform: translate(-2px, -2px);
      }
    }
    
.contruction-message-icon{display:block;color: #ff4e00;  width: 240px;height: 240x; margin: 20px auto;
      animation: glitch 0.5s linear infinite;
}

#contruction-message{display: block; font-weight: 400;
  font-family: "Poppins"; font-size: 24px;color: #333;
}
