<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD de Requisitos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
    <link rel="stylesheet" href="../style.css">
    <link rel="shortcut icon" href="../icon.svg" type="image/x-icon" />
</head>

<body>
    <header class="main-header">
        <div class="container-flex">
            <div class="main-header-container">
                <span class="icon-menu" id="btn-menu"><i class="fas fa-bars"></i></span>
                <a class="main-header-title" href="."><span class="word1">Indi</span><span class="word2">AR</span></a>
                <nav class="main-nav" id="main-nav">
                    <ul class="nav">

                        <li class="dropdown">
                            <a href="" class="drop-btn">CRUD</a>
                            <div class="dropdown-content" drop>
                                <a href="CRUDs/UsuarioCRUD.html" class="drop-link"><i
                                        class="fa-solid fa-user  nav-icon"></i>Usuarios</a>
                                <a href="CRUDs/JuegoCRUD.html" class="drop-link"><i
                                        class="fa-solid fa-gamepad fa-xs nav-icon"></i>Juegos</a>
                                <a href="CRUDs/RequisitoCRUD.html" class="drop-link"><i
                                        class="fa-solid fa-wrench nav-icon"></i>Requisitos</a>
                                <a href="CRUDs/ImagenCRUD.html" class="drop-link"><i
                                        class="fa-solid fa-image nav-icon"></i>Imagenes</a>
                            </div>
                        </li>
                        <li></li>
                    </ul>
                </nav>
            </div>
            <div class="main-header-container">
                <input type="search" class="main-header-input" placeholder="Buscar juegos" id="" />

            </div>
        </div>
        <div id="menu-container" class="menu-oculto">
            <ul class="menu">
                <li class="menu-item">
                    <a href="." class="menu-link ">TIENDA</a>

            </ul>
        </div>
    </header>

    <div class="mx-5 px-5" id="main-container">

        <!-- Formulario para crear un nuevo requisito -->

        <div class="mb-5" id="crear-div" v-if="formCrear">
            <h2>Crear requisito</h2>
            <form id="crear-form-requisito" @submit.prevent="crearRequisito">
                <div class="row">
                    <div class="col-md-5 mb-3">
                        <label for="so_min" class="form-label">SO Mínimo:</label>
                        <input type="text" id="so_min" name="so_min" class="form-control"
                            v-model="requisitoNuevo.so_min" required>
                    </div>
                    <div class="col-md-5">
                        <label for="so_rec" class="form-label">SO recomendado:</label>
                        <input type="text" id="so_rec" name="so_rec" class="form-control"
                            v-model="requisitoNuevo.so_rec" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 mb-3">
                        <label for="procesador_min" class="form-label">Procesador Mínimo:</label>
                        <input type="text" id="procesador_min" name="procesador_min" class="form-control"
                            v-model="requisitoNuevo.procesador_min" required>
                    </div>
                    <div class="col-md-5">
                        <label for="procesador_rec" class="form-label">Procesador recomendado:</label>
                        <input type="text" id="procesador_rec" name="procesador_rec" class="form-control"
                            v-model="requisitoNuevo.procesador_rec" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 mb-3">
                        <label for="ram_min" class="form-label">RAM mínimo:</label>
                        <input type="text" id="ram_min" name="ram__min" class="form-control"
                            v-model="requisitoNuevo.ram_min" required>
                    </div>
                    <div class="col-md-5">
                        <label for="ram_rec" class="form-label">RAM recomendado:</label>
                        <input type="text" id="ram_rec" name="ram_rec" class="form-control"
                            v-model="requisitoNuevo.ram_rec" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 mb-3">
                        <label for="gpu_min" class="form-label">GPU mínimo:</label>
                        <input type="text" id="gpu_min" name="gpu_min" class="form-control"
                            v-model="requisitoNuevo.gpu_min" required>
                    </div>
                    <div class="col-md-5">
                        <label for="gpu_rec" class="form-label">GPU recomendado:</label>
                        <input type="text" id="gpu_rec" name="gpu_rec" class="form-control"
                            v-model="requisitoNuevo.gpu_rec" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 mb-3">
                        <label for="directx_min" class="form-label">Directx mínimo:</label>
                        <input type="text" id="directx_min" name="directx_min" class="form-control"
                            v-model="requisitoNuevo.directx_min" required>
                    </div>
                    <div class="col-md-5">
                        <label for="directx_rec" class="form-label">Directx recomendado:</label>
                        <input type="text" id="directx_rec" name="directx_rec" class="form-control"
                            v-model="requisitoNuevo.directx_rec" required>
                    </div>
                </div>
                <div class="mb-3">
                    <button type="submit" id="btn-crear" class="btn btn-primary me-3">Crear</button>
                    <button @click="ocultarFormCrear" class="btn btn-danger">Cancelar</button>
                </div>
            </form>
        </div>

        <!-- Formulario para editar un requisito  -->
        <div class="mb-5" id="editar-div" v-if="requisitoSeleccionado">
            <h2>Editar requisito</h2>
            <form id="editar-form-requisito" @submit.prevent="actualizarRequisito">
                <div class="row">
                    <div class="col-md-5 mb-3">
                        <label for="id" class="form-label">ID:</label>
                        <input type="number" id="id" name="id" class="form-control" v-model="requisitoSeleccionado.ID"
                            readonly>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-5 mb-3">
                        <label for="so_min" class="form-label">SO Mínimo:</label>
                        <input type="text" id="so_min2" name="so_min" class="form-control"
                            v-model="requisitoSeleccionado.so_min" required>
                    </div>
                    <div class="col-md-5">
                        <label for="so_rec" class="form-label">SO recomendado:</label>
                        <input type="text" id="so_rec2" name="so_rec" class="form-control"
                            v-model="requisitoSeleccionado.so_rec" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 mb-3">
                        <label for="procesador_min" class="form-label">Procesador Mínimo:</label>
                        <input type="text" id="procesador_min2" name="procesador_min" class="form-control"
                            v-model="requisitoSeleccionado.procesador_min" required>
                    </div>
                    <div class="col-md-5">
                        <label for="procesador_rec" class="form-label">Procesador recomendado:</label>
                        <input type="text" id="procesador_rec2" name="procesador_rec" class="form-control"
                            v-model="requisitoSeleccionado.procesador_rec" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 mb-3">
                        <label for="ram_min" class="form-label">RAM mínimo:</label>
                        <input type="text" id="ram_min2" name="ram__min" class="form-control"
                            v-model="requisitoSeleccionado.ram_min" required>
                    </div>
                    <div class="col-md-5">
                        <label for="ram_rec" class="form-label">RAM recomendado:</label>
                        <input type="text" id="ram_rec2" name="ram_rec" class="form-control"
                            v-model="requisitoSeleccionado.ram_rec" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 mb-3">
                        <label for="gpu_min" class="form-label">GPU mínimo:</label>
                        <input type="text" id="gpu_min2" name="gpu_min" class="form-control"
                            v-model="requisitoSeleccionado.gpu_min" required>
                    </div>
                    <div class="col-md-5">
                        <label for="gpu_rec" class="form-label">GPU recomendado:</label>
                        <input type="text" id="gpu_rec2" name="gpu_rec" class="form-control"
                            v-model="requisitoSeleccionado.gpu_rec" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 mb-3">
                        <label for="directx_min" class="form-label">Directx mínimo:</label>
                        <input type="text" id="directx_min2" name="directx_min" class="form-control"
                            v-model="requisitoSeleccionado.directx_min" required>
                    </div>
                    <div class="col-md-5">
                        <label for="directx_rec" class="form-label">Directx recomendado:</label>
                        <input type="text" id="directx_rec2" name="directx_rec" class="form-control"
                            v-model="requisitoSeleccionado.directx_rec" required>
                    </div>
                </div>
                <div class="mb-3">
                    <button type="submit" id="btn-editar" class="btn btn-primary me-3">Guardar</button>
                    <button @click="cancelarEdicion" class="btn btn-danger">Cancelar</button>
                </div>
            </form>
        </div>


        <!-- Lista de requisitos -->
        <div class="" id="requisitos-div" v-if="!formCrear & !requisitoSeleccionado">
            <div class="d-flex align-items-center justify-content-between" style="padding-top: 5vh;">
                <h2>Lista de Requisitos</h2><button @click="mostrarFormCrear()" class="btn btn-success my-2 me-2 mb-3"
                    style="width: 105.98px;"><i class="fa-solid fa-plus"></i></button>
            </div>
            <table class="table table-light mt-4 table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>ID</th>
                        <th>SO Minimo</th>
                        <th>Procesador Minimo</th>
                        <th>RAM Minima</th>
                        <th>GPU Minima</th>
                        <th>DirectX Minimo</th>
                        <th>SO Recomendado</th>
                        <th>Procesador Recomendado</th>
                        <th>RAM Recomendada</th>
                        <th>GPU Recomendada</th>
                        <th>DirectX Recomendado</th>
                        <th style="width: 122.56px">Acciones</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                    <tr v-for="requisito in requisitos" :key="requisito.ID">
                        <td>{{ requisito.ID }}</td>
                        <td>{{ requisito.so_min }}</td>
                        <td>{{ requisito.procesador_min }}</td>
                        <td>{{ requisito.ram_min }}</td>
                        <td>{{ requisito.gpu_min }}</td>
                        <td>{{ requisito.directx_min }}</td>
                        <td>{{ requisito.so_rec }}</td>
                        <td>{{ requisito.procesador_rec }}</td>
                        <td>{{ requisito.ram_rec }}</td>
                        <td>{{ requisito.gpu_rec }}</td>
                        <td>{{ requisito.directx_rec }}</td>
                        <td>
                            <button @click="cargarEditarRequisito(requisito)" class="btn btn-primary col-md-12 mb-3"><i
                                    class="fa-solid fa-pen-to-square"></i></button>
                            <button @click="eliminarRequisito(requisito)" class="btn btn-danger col-md-12"><i
                                    class="fa-sharp fa-solid fa-trash"></i></button>
                        </td>

                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="Requisito-scripts.js"></script>
</body>

</html>