 thead {
     font-size: 18px;
     font-weight: 600;
 }

 tbody {
     font-size: 18px;
 }

 h2 {
     font-weight: 600;
 }

 label {
     font-weight: 600;
     font-size: 18px;
 }

 .centered {
     line-height: 92px;
     text-align: center;
 }