@font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("./fonts/Roboto-Regular.ttf");
}

* {
    box-sizing: border-box;
}

body {
    background: #ededed;
    font-family: "Roboto-Regular", sans-serif;
    margin: 0;
    margin-top: 91px;
    padding: 0;
    font-size: 10px;
}

@media screen and (min-width: 1200px) {
    body {
        font-size: 14px;
    }
}

.main {
    margin: 0 16px;
    align-items: center;
}

@media screen and (min-width: 1200px) {
    .main {
        margin: 0 140px;
        margin-bottom: 48px;
        padding: 0px;
        border-radius: 25px;
    }
}

@media screen and (min-width: 1800px) {
    .main {
        margin: 0 188px;
    }
}

/*Estilos Header*/
.main-header {
    margin: 0;
    top: 0;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #ccc;
    padding: 24px 16px;
    font-style: none;
    position: fixed;
    z-index: 99999;
}

.main-header-title {
    text-align: center;
    font-size: 28px;
    margin: 0;
    padding: 0;
    color: #ff4e00;
    font-family: "Poppins";
    text-decoration: none;
    display: flex;
    margin: auto;
}

.main-header-title .word1 {
    color: #333;
}

.container-flex {
    display: flex;
    justify-content: space-between;
}

.main-header-container {
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 1200px) {
    .main-header {
        padding: 24px 140px;
    }

    .main-header-title {
        font-size: 36px;
    }

    .main-header .container-flex {
        display: flex;
        justify-content: space-between;
    }

    .main-header-container {
        display: flex;

        align-items: center;
    }
}

@media screen and (min-width: 1800px) {
    .main-header {
        padding: 24px 188px;
    }

    .main-header .container-flex {
        display: flex;
        justify-content: space-between;
    }
}

/*estilos navbar*/
.main-nav {
    display: none;
    visibility: visible;
    transition: all 0.3s;
    z-index: 999999;
    width: 100%;
    margin-left: 40px;
}

.nav {
    position: static;
    top: 188px;
    left: 0;
    background: #212121;
    display: block;
    background: none;
    width: 100%;
    list-style: none;
    padding: 0px;
    margin: 0;
}

.nav-item {
    text-align: center;
    margin: auto;
}

.drop-btn {
    font-family: "Poppins";
    padding: 0 20px;
    color: #333;
    text-decoration: none;
    display: block;
    font-weight: 400;
    transition: all 0.3s;
    font-size: 16px;
    opacity: 0.9;
}

.nav-link {
    font-family: "Poppins";
    padding: 0 20px;
    color: #333;
    text-decoration: none;
    display: block;
    font-weight: 400;
    transition: all 0.3s;
    font-size: 16px;
    opacity: 0.9;
}

.nav-link:hover {
    color: #ff4e00;
}

.nav-link-active {
    opacity: 1;
}

.icon-menu {
    display: block;
    font-size: 28px;
    border-radius: 2%;
    cursor: pointer;
    margin: auto;
    margin-right: 14px;
    padding: 4px;

    text-align: center;
}

.icon-menu i {
    width: 28px;
    height: 28px;

    margin: auto;
}

.icon-header,
.icon-search {
    margin: 0;
    padding: 10px 14px;
    font-size: 20px;
    color: #333;
    transition: all 0.3s;
}

.icon-header:hover,
.icon-search:hover {
    color: #ff4e00;
}

.main-header-btn {
    display: block;
    text-decoration: none;
    padding: 0;
    margin: auto auto;
}

.main-header-input {
    display: none;
    caret-color: #ff4e00;
    font-size: 1em;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 2%;
    width: 100%;
}

@media screen and (min-width: 1200px) {
    .main-nav {
        display: block;
    }

    .nav {
        display: flex;
    }

    .icon-menu {
        display: none;
    }

    .icon-header,
    .icon-search {
        padding: 10px;
        font-size: 16px;
    }

    .main-header-btn {
        font-size: 20px;
        margin: 0 4px;
    }

    .main-header-input {
        display: block;
    }
}

@media screen and (min-width: 1800px) {
    .nav-link {
        font-size: 24px;
    }

    .icon-header,
    .icon-search {
        padding: 10px;
        font-size: 24px;
    }

    .main-header-btn {
        font-size: 24px;
        margin: 0 8px;
    }

    .main-header-input {
        display: block;
        font-size: 20px;
    }

    .drop-btn {
        font-size: 24px;
    }
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.drop-link {
    font-family: "Poppins";
    padding: 0 20px;
    color: #333;
    text-decoration: none;
    display: block;
    font-weight: 200;
    transition: all 0.3s;
    font-size: 16px;
    opacity: 0.9;
}

.nav-icon {
    margin-right: 20%;
}

/*Estilos Menu*/

#menu-container {
    height: 100vh;
    padding-top: 20px;
}

.menu-oculto {
    display: none;
}

.menu {
    top: 188px;
    left: 0;
    width: 100%;
    list-style: none;
    padding: 0px;
    margin: 0;
}

.menu-item {
    padding: 10px 0;
    text-align: center;
    margin: auto;
}

.menu-link {
    font-family: "Poppins";
    padding: 0 20px;
    color: #333;
    text-decoration: none;
    display: block;
    font-weight: 400;
    transition: all 0.3s;
    font-size: 16px;
    opacity: 0.9;
}

.menu-link-active {
    opacity: 1;
}

.menu-link:hover {
    color: #ff4e00;
}